@font-face {
    font-family: 'Heebo-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'), url('../fonts/Heebo-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Heebo-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'), url('../fonts/Heebo-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Heebo-Medium';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Heebo-Medium.woff2') format('woff2'), url('../fonts/Heebo-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Heebo-Black';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Heebo-Black.woff2') format('woff2'), url('../fonts/Heebo-Black.woff') format('woff');
}

* {
    padding:0;
    margin:0;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Heebo-Regular', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    min-height: 100vh;
}
@media (min-width: 1024px){
    body {
        min-width: 1024px;
    }
}

/* Header start */

.header {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    &__container {
        padding: 20px 18px 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
    }
    &__menu{
        display: none;
        position: absolute;
        margin-top: 40px;
        background: #FFF;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.04);
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.04);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.04);
        &-ul{
            margin: 30px 50px 0 30px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }
        &-li{
            margin-bottom: 30px;
        }
        &-link{
            text-decoration: none;
            font-family: 'Heebo-Medium', 'Arial', 'sans-serif';
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            color: #000000;
        }
        &-link:hover,
        &-link:focus,
        &-link:active {
            text-decoration: underline;
        }
    }
    &__burger{
        width: 100%;
    }
    &__burger-btn{
        width: 30px;
        height: 20px;
        border: none;
        background: #fff;
        position: relative;
        &::after{
            content: '';
            width: 30px;
            height: 2px;
            background-color: #21243D;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0 9px 0 0 #21243D, 0 18px 0 0 #21243D;
        }
    }
}
.active {
    display: block;
}
@media (min-width: 1024px){
    .header {
        min-height: 60px;
        padding-top: 7px;
        padding-bottom: 140px;
        &__burger{
            display: none;
        }
        &__menu{
            display: block;
            position: relative;
            margin: 0;
            background: none;
            box-shadow: none;
            &-ul{
                margin: 0 60px 0 0;
            }
            &-li{
                margin-right: 33px;
                margin-bottom: 0;
            }
            &-li:last-child{
                margin-right: 0;
            }
            &-link{
                font-size: 20px;
            }
        }
    }
}
/* Header end */

/* Top section start */
.top{
    text-align: center;
    &__photo-author{
        margin-top: 33px;
        margin-bottom: 43px;
        margin-left: auto;
        margin-right: auto;
        width: 171px;
        height: 171px;
        border-radius: 50%;
        box-shadow: -4px 9px #EDF7FA;
    }
    &__title{
        margin:0 auto;
        margin-bottom: 21px;
        font-family: 'Heebo-Bold', 'Arial', 'sans-serif';
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        max-width: 312px;
    }
    &__description{
        margin:0 auto;
        margin-bottom: 27px;
        padding-left: 23px;
        padding-right: 23px;
        max-width: 328px;
    }
    &__btn{
        display: flex;
        justify-content: center; 
        align-items: center;
        margin: auto;
        background-color: #FF6464;
        color: #FFFFFF;
        width: 208px;
        height: 47px;
        margin-bottom: 59px; 
        border-radius: 2px;
        font-family: 'Heebo-Medium', 'Arial', 'sans-serif';
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
        border: none;
    }
    &__btn:focus,
    &__btn:hover,
    &__btn:active {
        opacity: .75;
    }
}
@media (min-width: 1024px){
    .top{
        &__container{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 856px;
        }
        &__author{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center; 
            margin-bottom: 11px;
        }
        &__title{
            max-width: 506px;
            margin: 18px 101px 40px;
            text-align: left;
            margin-left: 0;
            font-family: 'Heebo-Bold', 'Arial', 'sans-serif';
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 60px;
        }
        &__description{
            max-width: 506px;
            margin-right: 101px;
            margin-bottom: 38px;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
        &__photo-author{
            height: 243px;
            width: 243px;
            box-shadow: -5px 13px #EDF7FA;
            margin-top: 0;
        }
        &__btn{
            margin-bottom: 71px;
            margin-left: 0;
        }
    }
}
/* Top section end */

/* Posts section start */

.posts{
    background: #EDF7FA;
    &__container{
        max-width: 354px;
        margin: 0 auto;
    }
    &__main-title{
        display: flex;
        height: 60px;
        margin: auto;
        align-items: center;
        justify-content: center; 
        font-family: 'Heebo-Regular', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }
    &__recent-posts{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    &__post{
        background: #fff;
        margin-bottom: 17px;
        padding-left: 19px;
        padding-right: 19px;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
        border-radius: 4px;
    }
    &__post-link{
        display: flex;
        margin-top: 12px;
        margin-bottom: 12px;
        text-decoration: none;
        font-family: 'Heebo-Bold', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #21243D;
    }
    &__post-link:hover,
    &__post-link:focus,
    &__post-link:active {
        text-decoration: underline;
    }
    &__post-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 19px;
    }
    &__post-date{
        margin-right: 24px;
        padding-right: 24px;
        border-right: 1px solid #000;
    }
    &__post-desc{
        margin-bottom: 22px;
    }
    &__view-all{
        display: none;
    }    
}
@media (min-width: 1024px){
    .posts{
        &__container{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 856px;
        }
        &__view{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 7px;
            padding-bottom: 2px;
        }
        &__main-title{
            margin-left: 0;
            font-size: 22px;
        }
        &__view-all{
            display: block;
            color: #00A8CC;
        }
        &__view-all:hover,
        &__view-all:focus,
        &__view-all:active{
            opacity: .75;
        }
        &__recent-posts{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
        }
        &__post{
            width: 418px;
            padding-left: 23px;
            padding-right: 23px;
            margin-bottom: 32px;
        }
        &__post-link{
            margin-top: 24px;
            margin-bottom: 17px;
            font-size: 26px;
            line-height: 38px;
        }
        &__post-info{
            margin-bottom: 21px;
        }
        &__post-date{
            font-size: 18px;
            line-height: 26px;
        }
        &__post-category{
            font-size: 18px;
            line-height: 26px;
        }
    }
}
/* Posts section end */

/* Works section start */
.works{
    margin-bottom: 150px;
    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-family: 'Heebo-Regular', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 2px;
        margin-top: 3px;
    }
    &__work{
        display: flex;
        flex-direction: column;
        max-width: 344px;
        margin: auto;
        padding-left: 13px;
        padding-right: 13px;
        position: relative;
    }
    &__work::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 1px solid #E0E0E0;
    }
    &__pic{
        margin-bottom: 17px;
        border-radius: 6px;
    }
    &__link-pic{
        text-decoration: none;
    }
    &__link-pic:hover,
    &__link-pic:focus,
    &__link-pic:active {
        opacity: .75;
    }
    &__link{
        display: block;
        font-family: 'Heebo-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-decoration: none;
        margin-bottom: 16px;
        color: #21243D;
    }
    &__link:focus,
    &__link:hover,
    &__link:active {
        text-decoration: underline;
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        &-year{
            margin-right: 22px;
            padding-left: 12px;
            padding-right: 12px;
            font-family: 'Heebo-Black', 'Arial', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            background: #142850;
            border-radius: 16px;
            color: #fff;
        }
        &-category{
            color: #8695A4;
        }
    }
    &__desc{
        padding-bottom: 17px;
    }
}

.hide {
    display: none;
}

@media (min-width: 1024px){
    .works{
        margin-bottom: 52px;
        &__container{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 856px;
        }
        &__title{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 22px;
            margin-bottom: 22px;
            margin-top: 15px;
        }
        &__work{
            display: flex;
            flex-direction: row;
            max-width: 344px;
            padding: 0 0 31px 0;
            max-width: 100%;
        }
        &__work::after{
            margin-bottom: 22px;
        }
        &__left{
            margin-right: 18px;
            width: 246px;
            height: 180px;
        }
        &__right{
            width: 594px;
        }
        &__link{
            font-size: 30px;
            line-height: 44px;
            text-decoration: none;
        }
        &__info{
            margin-bottom: 22px;
            &-year{
                margin-right: 26px;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 18px;
            }
            &-category{
                font-size: 20px;
            }
        }
    }
}
/* Works section end */

/* Footer start */
.footer{
    height: 182px;
    &__social{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 26px;
        padding-top: 51px;
        &-btn{
            margin-right: 35px;
        }
        &-btn:last-child{
            margin-right: 0;
        }
        &-link:focus,
        &-link:hover,
        &-link:active{
            opacity: .75;
        }
    }
    &__text{
        text-align: center;
        padding-bottom: 54px;
    }
}
/* Footer end */